.add-cart__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.add-cart__toggle {
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
