.cart__link {
  display: block;
  padding-top: 30px;
  padding-bottom: 31px;
  padding-left: 75px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $color-black;
  text-decoration: none;

  border-bottom: 1px solid $color-light-grey;

  &:hover {
    color: rgba($color-black, 0.6);
  }

  &:active {
    color: rgba($color-black, 0.3);
  }
}

@media (min-width: $width-tablet) {

  .cart {
    width: 263px;
  }

  .cart__link {
    text-align: right;

    border-bottom: none;
    border-left: 1px solid $color-light-grey;
  }
}
