.categories__list {
  @include list-reset;
}

.categories__item {
  position: relative;
  background-color: $color-green;

  &::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;

    display: none;
    width: 100%;
    height: 10px;

    background-color: $color-green;
  }

  &:hover {

    &::after {
      display: block;
    }
  }

  &--toys {
    background-color: #46c1ae;

    &::after {
      background-color: #46c1ae;
    }
  }

  &:focus-within {

    &::after {
      display: block;
    }
  }
}

.categories__link {
  position: relative;
  display: block;
  width: $width-mobile;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-right: 175px;
  padding-bottom: 30px;
  padding-left: 30px;

  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: $color-white;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    top: 23px;
    right: 36px;

    width: 40px;
    height: 62px;

    background-repeat: no-repeat;

    opacity: 0.5;
  }

  &--interior::before {
    background-image: url("../../img/icon-interior.svg");
  }

  &--toys::before {
    top: 22px;
    right: 27px;

    width: 60px;
    height: 60px;

    background-image: url("../../img/icon-toy.svg");
  }

  &:hover,
  &:focus {
    padding-top: 20px;
    padding-bottom: 35px;

    outline: none;

    &::before {
      top: 17px;

      opacity: 0.7;
    }
  }

  &:active {
    color: rgba($color-white, 0.3);

    &::before {
      opacity: 0.3;
    }
  }
}

 @media (min-width: $width-tablet) {
  .categories__wrapper {
    @include indent;
    width: $width-tablet;
    margin-right: auto;
    margin-left: auto;
  }

  .categories__list {
    display: flex;
    flex-wrap: wrap;
  }

  .categories__item {
    width: 334px;
  }

  .categories__link {
    padding-top: 28px;
    padding-left: 29px;
    padding-bottom: 29px;

    font-size: 20px;
    line-height: 30px;

    &::before {
      top: 30px;
      right: 30px;
    }

    &--toys::before {
      top: 32px;
      right: 27px;
    }

    &:hover,
    &:focus {
      padding-top: 23px;
      padding-bottom: 34px;

      &::before {
        top: 25px;
      }
    }
  }
}


// @media (min-width: $width-desktop) {
//   .categories__item {
//     width: 525px;
//   }

//   .categories__link {
//     padding-right: 350px;
//   }
// }
