.categories__list {
  @include list-reset;
}

.categories__link {
  display: block;
  padding-top: 30px;
  padding-right: 175px;
  padding-bottom: 30px;
  padding-left: 30px;

  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: $color-white;
  text-decoration: none;

  background-color: $color-green;

  &:active {
    color: rgba($color-white, 0.3);
  }

  &--toys {
    background-color: #46c1ae;
  }
}

@media (min-width: $width-tablet) {

  .categories__wrapper {
    @include indent;
  }

  .categories__list {
    display: flex;
    flex-wrap: wrap;
  }

  .categories__item {
    width: 334px;
  }

  .categories__link {
    padding-left: 35px;

    font-size: 20px;
    line-height: 30px;
  }
}


@media (min-width: $width-desktop) {

  .categories__item {
    width: 525px;
  }

  .categories__link {
    padding-right: 350px;
  }
}
