.copyright {
  display: flex;
  padding-top: 20px;
  padding-left: 37px;

  border-top: 1px solid #e5e5e5;
}

.copyright__link {
  display: flex;
  align-items: center;

  font-size: 19px;
  line-height: 34px;
  color: $color-black;
  text-decoration: none;
  vertical-align: middle;

  &:hover,
  &:focus {
    outline: none;

    .copyright__link-icon {
      fill: #46c1ae;
    }
  }

  &:active {
    color: rgba($color-black, 0.3);

    .copyright__link-icon {
      fill: rgba(#46c1ae, 0.3);
    }
  }
}

.copyright__link-icon {
  width: 27px;
  height: 34px;

  fill: #63d1bb;
}

.copyright__text {
  margin-right: 30px;

  font-size: 19px;
  line-height: 19px;
}

@media (min-width: $width-tablet) {
  .copyright {
    width: 186px;
    padding-left: 0;
    padding-top: 5px;

    border: none;
  }
}
