.inner-main__title {
padding-top: 75px;
padding-right: 35px;
padding-bottom: 75px;
padding-left: 35px;

background-color: #f1f1f1;
}

.inner-main__goods {
  @include indent-mobile;
}

.inner-main__video {
  margin-bottom: 55px;
}

.inner-main__form-wrapper {
  @include indent-mobile;
}
