.inner-main__title-wrapper {
  background-color: #f1f1f1;
}

.inner-main__title {
  padding-top: 75px;
  padding-bottom: 75px;
}

.inner-main__goods {
  @include indent-mobile;
}

.inner-main__video {
  margin-bottom: 55px;
}

.inner-main__form-wrapper {
  @include indent-mobile;
}

@media (min-width: $width-tablet) {

  .inner-main__title {
    padding-top: 50px;
    padding-bottom: 80px;
  }
}

@media (min-width: $width-desktop) {

  .inner-main__title {
    padding-bottom: 100px;
  }
}
