.inner-main__title-wrapper {
  background-color: #f1f1f1;
}

.inner-main__title {
  padding-top: 70px;
  padding-bottom: 76px;
}

.inner-main__video {
  margin-bottom: 58px;
}

@media (min-width: $width-tablet) {
  .inner-main__title {
    padding-top: 34px;
    padding-bottom: 80px;

    &--order {
      padding-top: 32px;
    }
  }

  .inner-main__goods {
    margin-bottom: 23px;
  }

  .inner-main__video {
    margin-bottom: 63px;
  }
}

@media (min-width: $width-desktop) {
  .inner-main__title {
    padding-top: 32px;
    padding-bottom: 102px;
  }

  .inner-main__goods {
    margin-bottom: 12px;
  }

  .inner-main__video {
    margin-bottom: 104px;
  }
}
