.item__image {
  display: block;
  width: 260px;
  height: 195px;
}

.item__wrapper {
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 27px;
  padding-left: 27px;

  border: 1px solid #ededed;

  &:hover,
  &:focus-within {
    box-shadow: 0 6px 10px 0 rgba($color-black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba($color-black, 0.1);
  }
}

.item__title {
  margin: 0;
  margin-bottom: 5px;
  line-height: 24px;
}

.item__link {
  font-size: 17px;
  font-weight: 700;
  color: $color-black;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba($color-black, 0.6);

    outline: none;
  }

  &:active {
    color: rgba($color-black, 0.3);
  }
}

.item__description {
  margin: 0;
  margin-bottom: 19px;

  font-size: 13px;
}

.item__price-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  padding-right: 1px;

  border-top: 1px solid $color-light-grey;
}

.item__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: $color-black;
}

.item__cart {
  width: 20px;
  height: 19px;

  opacity: 0.2;

  &:hover,
  &:focus {
    outline: none;

    opacity: 1;

    .item__cart-icon {
      fill: $color-green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $width-tablet) {
  .item {
    display: flex;

    &:hover,
    &:focus-within {
      box-shadow: 0 6px 10px 0 rgba($color-black, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba($color-black, 0.1);
    }
  }

  .item__image {
    width: 334px;
    height: 334px;
  }

  .item__wrapper {
    display: flex;
    flex-direction: column;
    width: 334px;
    padding-bottom: 26px;

    &:hover,
    &:focus-within {
      box-shadow: none;
    }

    &:active {
      box-shadow: none;
    }
  }

  .item__title--basket {
    margin-bottom: 8px;
  }

  .item__link {
    font-size: 20px;
    line-height: 24px;
  }

  .item__description {
    margin-bottom: 0;

    font-size: 15px;
  }

  .item__price-wrapper {
    margin-top: auto;
    margin-left: 4px;
    margin-right: 6px;
    padding-top: 22px;
  }

  .item__price {
    font-size: 17px;
  }
}

@media (min-width: $width-desktop) {
  .item {
    flex-direction: column;
    margin-right: auto;

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    &:hover,
    &:focus-within {
      box-shadow: none;
    }

    &:active {
      box-shadow: none;
    }
  }

  .item__image {
    width: 316px;
    height: 462px;
  }

  .item__wrapper {
    width: 316px;
    height: calc(100% - 462px);

    &:hover,
    &:focus-within {
      box-shadow: 0 6px 10px 0 rgba($color-black, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba($color-black, 0.1);
    }
  }

  .item__title--basket {
    margin-bottom: 5px;
  }

  .item__description {
    margin-bottom: 14px;
  }

  .item__price-wrapper {
    margin-left: 0;
    margin-right: 5px;
  }
}
