.item__image {
  display: block;
  width: 260px;
  height: 195px;
}

.item__wrapper {
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;

  border: 1px solid #ededed;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba($color-black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba($color-black, 0.1);
  }
}

.item__title {
  margin: 0;
  margin-bottom: 10px;
}

.item__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $color-black;
  text-decoration: none;

  &:hover {
    color: rgba($color-black, 0.6);
  }

  &:active {
    color: rgba($color-black, 0.3);
  }
}

.item__description {
  margin: 0;
  margin-bottom: 20px;

  font-size: 13px;
}

.item__price-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  border-top: 1px solid $color-light-grey;
}

.item__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: $color-black;
}

.item__cart {
  width: 20px;
  height: 19px;
  margin-top: 3px;

  background-image: url("../../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

@media (min-width: $width-tablet) {
  .item {
    display: flex;
  }

  .item__image {
    width: 334px;
    height: 334px;
  }

  .item__wrapper {
    display: flex;
    flex-direction: column;
    width: 334px;
  }

  .item__link {
    font-size: 20px;
    line-height: 24px;
  }

  .item__description {
    margin-bottom: 0;

    font-size: 15px;
  }

  .item__price-wrapper {
    margin-top: auto;
  }

  .item__price {
    font-size: 17px;
  }
}

@media (min-width: $width-desktop) {
  .item {
    flex-direction: column;
    margin-right: auto;

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  .item__image {
    width: 316px;
    height: 462px;
  }

  .item__wrapper {
    width: 316px;
    height: calc(100% - 462px);
  }

  .item__description {
    margin-bottom: 20px;
  }
}
