.main-nav {
  position: relative;
}

.main-nav__wrapper-logo {
  padding-top: 22px;
  padding-bottom: 22px;

  border-bottom: 1px solid $color-light-grey;
}

.main-nav__toggle {
  position: absolute;
  top: 29px;
  right: 31px;

  width: 21px;
  height: 20px;

  background-color: transparent;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: 100%;
  border: none;

  cursor: pointer;
}

.main-nav__info {
  display: none;
}

@media (max-width: $width-only-mobile) {
  .main-nav--opened {
    .main-nav__toggle {
      top: 29px;

      width: 21px;
      height: 20px;

      background-image: url("../img/icon-menu-close.svg");
    }

    .main-nav__list {
      display: block;
    }

    .main-nav__search-cart-wrapper {
      display: block;
    }
  }

  .main-nav--closed {
    .main-nav__toggle {
      top: 32px;

      width: 21px;
      height: 14px;

      background-image: url("../img/icon-menu-open.svg");
    }
  }

  .main-nav--nojs {
    .main-nav__toggle {
      display: none;
    }

    .main-nav__list {
      display: block;
    }

    .main-nav__search-cart-wrapper {
      display: block;
    }
  }
}

@media (min-width: $width-tablet) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .main-nav__logo-list-wrapper {
    width: 320px;
  }

  .main-nav__wrapper-logo {
    padding-top: 22px;
    padding-bottom: 21px;

    border: none;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__search-cart-wrapper {
    display: flex;
    flex-wrap: wrap;
    order: 1;
    width: 348px;
    margin-left: auto;
    margin-right: 0;
  }

  .main-nav__info {
    display: block;
    margin: 0;
    margin-left: auto;
    padding-top: 18px;
    padding-bottom: 18px;

    line-height: 24px;
    color: $main-color;
    text-decoration: none;
  }
}

@media (min-width: $width-desktop) {
  .main-nav__logo-list-wrapper {
    display: flex;
    width: 700px;
  }

  .main-nav__wrapper-logo {
    order: 2;

    width: 290px;
    padding-top: 9px;
    padding-bottom: 0;
  }

  .main-nav__search-cart-wrapper {
    width: 350px;
    margin-left: auto;
    margin-right: 0;
    order: 3;
  }

  .main-nav__info {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
