.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  @include indent-mobile;
  padding-top: 25px;
  padding-bottom: 20px;
}

.page-footer__logo-wrapper {
  display: none;
}

.page-footer__social {
  margin-bottom: 27px;
}

// @media (min-width: $width-tablet) {
//   .page-footer {
//     padding-top: 50px;
//     padding-bottom: 55px;
//   }

//   .page-footer__wrapper {
//     @include indent;
//     display: flex;
//     justify-content: space-between;
//   }

//   .page-footer__logo-wrapper {
//     display: block;
//   }

//   .page-footer__social {
//     margin-bottom: 0;
//     padding-top: 5px;
//   }
// }
