.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  @include indent-mobile;
  padding-top: 25px;
  padding-bottom: 25px;
}

.page-footer__logo-wrapper {
  display: none;
}

.page-footer__social {
  margin-bottom: 27px;
}

@media (min-width: $width-tablet) {

  .page-footer__wrapper {
    padding-left: 50px;
    padding-right: 48px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 51px;
    padding-bottom: 55px;
  }

  .page-footer__logo-wrapper {
    display: block;
    margin-right: 159px;

    .logo__image {
      width: 102px;
      height: 34px;
    }
  }

  .page-footer__social {
    margin-bottom: 0;
    padding-top: 6px;
  }
}
