.popular-item {
  padding-top: 30px;
  padding-bottom: 35px;
}

.popular-item__wrapper-all {
  @include indent-mobile;
}

.popular-item__title-wrapper {
  display: flex;
  flex-direction: column;
}

.popular-item__title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $color-green;
  text-transform: uppercase;
}

.popular-item__item-title {
  order: -1;
  margin: 0;
  margin-bottom: 10px;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $color-black;
}

.popular-item__description {
  margin: 0;
  margin-bottom: 20px;

  line-height: 24px;
}

.popular-item__list {
  width: 100%;
  margin-bottom: 30px;

  line-height: 20px;

  border-collapse: collapse;
}

.popular-item__field {
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid $color-light-grey;
}

.popular-item__value {
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid $color-light-grey;
}

.popular-item__image {
  height: 315px;
  margin-bottom: 25px;
}

.popular-item__price {
  display: block;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

@media (min-width: $width-tablet) {
  .popular-item {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;

    &::before {
      content: "";
      position: absolute;
      top: -20px;
      left: 0;

      width: 100%;
      height: 24px;

      background-image: url("../../img/bg-zigzag-fill.svg");
      background-repeat: repeat;
    }
  }

  .popular-item__wrapper-all {
    @include indent;
  }

  .popular-item__title-wrapper {
    flex-direction: row;
    margin-bottom: 55px;
  }

  .popular-item__title {
    margin: 0;
    margin-left: auto;
    width: 168px;
    padding-top: 5px;
    padding-right: 25px;
    padding-left: 70px;

    text-align: center;
  }

  .popular-item__item-title {
    margin: 0;
    width: 500px;

    font-size: 43px;
    line-height: 50px;
  }

  .popular-item__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .popular-item__description-wrapper {
    width: 292px;
  }

  .popular-item__description {
    font-size: 17px;
  }

  .popular-item__image {
    width: 334px;
    height: 405px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .popular-item__price-wrapper {
    width: 292px;
    margin-top: -114px;
  }

  .popular-item__price {
    margin-bottom: 30px;

    font-size: 20px;
    text-align: center;
  }
}

@media (min-width: $width-desktop) {
  .popular-item {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .popular-item__title-wrapper {
    margin-bottom: 0;
    padding-top: 70px;
  }

  .popular-item__title {
    width: 175px;
    margin-left: 0;
    padding-top: 10px;
    padding-right: 45px;
    padding-left: 45px;
  }

  .popular-item__item-title {
    order: 0;
    width: 550px;
    margin-bottom: 0;

    font-size: 53px;
    line-height: 57px;
  }

  .popular-item__wrapper {
    margin-top: -120px;
    padding-left: 175px;
  }

  .popular-item__description-wrapper {
    margin-top: 165px;
  }

  .popular-item__image {
    z-index: -1;

    width: 525px;
    height: 637px;
    margin-bottom: 0;
    margin-left: auto;
  }
}
