.reviews {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-right: 30px;
  padding-left: 30px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.reviews__text {
  margin: 0;
  margin-bottom: 30px;
}

.reviews__author {
  display: block;

  font-size: 17px;
  font-weight: 700;
  color: #000000;
}

.reviews__nickname {
  display: block;
  margin-bottom: 30px;

  font-size: 17px;
  color: $main-color;
  text-decoration: none;
}

.reviews__buttons {
  margin-bottom: 35px;
}
