.reviews__wrapper {
  @include indent-mobile;
  padding-top: 17px;
  padding-bottom: 20px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 24px;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.reviews__text {
  margin: 0;
  margin-bottom: 23px;
}

.reviews__author {
  display: block;

  font-size: 17px;
  font-weight: 700;
  color: #000000;
}

.reviews__nickname {
  display: block;
  margin-bottom: 29px;

  font-size: 17px;
  color: $main-color;
  text-decoration: none;
}

.reviews__switcher {
  margin-bottom: 38px;
}

@media (min-width: $width-tablet) {
  .reviews__wrapper {
    @include indent;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 77px;
    padding-bottom: 47px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .reviews__title {
    order: -2;
    width: 400px;
    margin-bottom: 49px;
    margin-left: -4px;

    font-size: 43px;
    line-height: 50px;
  }

  .reviews__text {
    margin-bottom: 54px;

    font-size: 17px;
    line-height: 30px;
  }

  .reviews__author-wrapper {
    width: 300px;
  }

  .reviews__author {
    font-size: 18px;
  }

  .reviews__nickname {
    margin: 0;
  }

  .reviews__switcher {
    margin: 0;
    margin-left: auto;
  }

  .reviews__write {
    order: -1;
    margin-top: 2px;
    max-width: 270px;
    margin-left: auto;
    margin-bottom: 45px;
    padding-right: 40px;
    padding-left: 36px;
  }
}

@media (min-width: $width-desktop) {
  .reviews {
    padding-left: 50px;
    padding-right: 50px;
  }

  .reviews__wrapper {
    padding-top: 70px;
    padding-left: 175px;
    padding-right: 0;
    padding-bottom: 95px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__text {
    margin-bottom: 36px;
    padding-right: 105px;
  }

  .reviews__author {
    font-size: 17px;
  }

  .reviews__write {
    margin-top: 9px;
  }
}
