.reviews__wrapper {
  @include indent-mobile;
  padding-top: 20px;
  padding-bottom: 40px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.reviews__text {
  margin: 0;
  margin-bottom: 30px;
}

.reviews__author {
  display: block;

  font-size: 17px;
  font-weight: 700;
  color: #000000;
}

.reviews__nickname {
  display: block;
  margin-bottom: 30px;

  font-size: 17px;
  color: $main-color;
  text-decoration: none;
}

.reviews__switcher {
  margin-bottom: 35px;
}

@media (min-width: $width-tablet) {
  .reviews__wrapper {
    @include indent;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 40px;

    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .reviews__title {
    order: -2;
    margin-bottom: 50px;

    font-size: 43px;
    line-height: 50px;
  }

  .reviews__text {
    margin-bottom: 60px;

    font-size: 17px;
    line-height: 30px;
  }

  .reviews__nickname {
    margin: 0;
  }

  .reviews__switcher {
    margin: 0;
    margin-left: auto;
  }

  .reviews__write {
    order: -1;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (min-width: $width-desktop) {
  .reviews__wrapper {
    margin-left: 50px;
    padding-left: 175px;
    padding-bottom: 60px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__text {
    padding-right: 100px;
  }
}
