.search {
  border-bottom: 1px solid $color-light-grey;
}

.search__link {
  position: relative;
  display: block;
  width: $width-mobile;
  margin-right: auto;
  margin-left: auto;
  padding-top: 26px;
  padding-bottom: 28px;
  padding-left: 75px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $color-black;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba($color-black, 0.6);

    outline: none;

    .search__link-icon {
      fill: $color-green;
    }
  }

  &:active {
    color: rgba($color-black, 0.3);

    .search__link-icon {
      fill: rgba($color-green, 0.3);
    }
  }
}

.search__link-icon {
  position: absolute;
  top: 31px;
  left: 32px;

  width: 18px;
  height: 18px;

  fill: #d3d2d2;
}

@media (min-width: $width-tablet) {
  .search {
    width: 83px;

    border: none;
  }

  .search__link {
    width: auto;
    padding-top: 26px;
    padding-bottom: 38px;
    padding-left: 83px;

    font-size: 0;

    border-bottom: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 1px;
      height: 88px;

      background-color: $color-light-grey;
    }
  }

  .search__link-icon {
    top: 37px;
    left: 34px;
  }
}

@media (min-width: $width-desktop) {
  .search {
    width: 83px;
  }

  .search__link-icon {
    left: 33px;
  }
}
