.social__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 145px;
  margin-right: auto;
  margin-left: auto;
}

.social__item {
  margin-right: 41px;

  &:nth-of-type(3n) {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  line-height: 0;

  &:hover,
  &:focus {
    outline: none;

    path {
      fill: #46c1ae;
    }
  }

  &:active {

    path {
      fill: rgba(#46c1ae, 0.3);
    }
  }
}

@media (min-width: $width-tablet) {

  .social {
    width: 160px;
    margin-right: 63px;
  }

  .social__list {
    width: auto;
    margin: 0;
  }
}
