.social__list {
  @include list-reset;
  display: flex;
  align-items: center;
  width: 145px;
  margin-right: auto;
  margin-left: auto;
}

.social__item {
  margin-right: 41px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  line-height: 0;

  &:hover {

    path {
      fill: #46c1ae;
    }
  }

  &:active {

    path {
      fill: rgba(#46c1ae, 0.3);
    }
  }
}

// @media (min-width: $width-tablet) {
//   .social {
//     width: 350px;
//   }
// }
