.video {
  @include indent-mobile;
}

.video__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;

  border: 1px solid $color-light-grey;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba($color-black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba($color-black, 0.1);
  }
}

.video__title {
  margin: 0;
  margin-bottom: 25px;
  padding-right: 30px;
  padding-left: 90px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.video__block {
  margin-bottom: 30px;
}

.video__image {
  display: block;
  width: 260px;
  height: 150px;
}

.video__description {
  margin: 0;
  margin-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;

  font-size: 13px;
  line-height: 24px;
}

.video__order {
  margin-right: 30px;
  margin-left: 30px;
}

@media (min-width: $width-tablet) {
  .video {
    @include indent;
  }

  .video__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 50px;
  }

  .video__block {
    order: -1;
  }

  .video__image {
    width: 668px;
    height: 455px;
  }

  .video__title {
    margin-bottom: 40px;

    font-size: 20px;
    line-height: 24px;
  }

  .video__description {
    padding-right: 50px;
    font-size: 15px;
  }
}

@media (min-width: $width-desktop) {
  .video__wrapper {
    position: relative;
    padding-left: 683px;
    padding-bottom: 60px;
  }

  .video__title {
    margin: 0;
    margin-bottom: 40px;
    padding-top: 100px;
    padding-right: 130px;
  }

  .video__block {
    position: absolute;
    top: 0;
    left: 0;
  }

  .video__image {
    width: 683px;
    height: 455px;
  }

  .video__order-wrapper {
    width: 365px;
    margin-left: auto;
    padding-right: 58px;
    padding-left: 80px;
  }

  .video__description {
    margin-bottom: 50px;
    padding: 0;
  }

  .video__order {
    margin: 0;
  }
}
