$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1150px;

$main-color: #444444;
$color-black: #000000;
$color-white: #ffffff;
$color-green: #63d1bb;
$color-light-grey:#ececec;
